body {
    margin: 6;
    background-image: url( '../images/bgimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    font-family: Arial
    border-collapse: collapse;
    width: 95%;
    margin: auto;
    }
  
tr,td {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

h4 {text-align: center;
    color: darkblue;
}

.button:hover {
    background:red;
    color: #ffffff;
}